:org.apache.felix.configadmin.revision:=L"5"
felix.fileinstall.filename="file:/C:/Progetti/SmartHomeProject/UI/userdata/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.connection.bufferSize="8192"
org.ops4j.pax.url.mvn.connection.retryCount="3"
org.ops4j.pax.url.mvn.defaultRepositories="file:/C:/Progetti/SmartHomeProject/UI/runtime/system@id\=system.repository@snapshots,\ file:/C:/Progetti/SmartHomeProject/UI/userdata/tmp/kar@id\=kar.repository@multi@snapshots,\ file:/C:/Progetti/SmartHomeProject/UI/userdata/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="C:/Progetti/SmartHomeProject/UI/userdata/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://openhab.jfrog.io/openhab/libs-release@id\=openhab"
org.ops4j.pax.url.mvn.socket.connectionTimeout="5000"
org.ops4j.pax.url.mvn.socket.keepAlive="false"
org.ops4j.pax.url.mvn.socket.linger="-1"
org.ops4j.pax.url.mvn.socket.readTimeout="30000"
org.ops4j.pax.url.mvn.socket.reuseAddress="false"
org.ops4j.pax.url.mvn.socket.tcpNoDelay="true"
org.ops4j.pax.url.mvn.timeout="5000"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.bundleLocation="?"
service.pid="org.ops4j.pax.url.mvn"
