:org.apache.felix.configadmin.revision:=L"4"
felix.fileinstall.active.level="90"
felix.fileinstall.dir="C:/Progetti/SmartHomeProject/UI/addons"
felix.fileinstall.filename="file:/C:/Progetti/SmartHomeProject/UI/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="C:\\Progetti\\SmartHomeProject\\UI\\userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.b2d8f116-7237-4daa-a5fc-a858351f49a2"
