:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.filename="file:/C:/Progetti/SmartHomeProject/UI/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="C:\\Progetti\\SmartHomeProject\\UI\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
